section {
    text-align: center;
    margin: 1rem;
}

.homeLogo {
    width: 16vw;
    height: 12vh;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

img {
    width: 86vw;
    height: 50vh;
}

.rating {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.numberOfGuests {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.decrementBtn {
    font-weight: bold;
    font-size: 20px;
    width: 16vw;
    height: 4vh;
    background-color: #6c7d66;
    margin: 1rem;
    border: 2px solid #293120;
    border-radius: 8px;
}


.incrementBtn {
    font-weight: bold;
    font-size: 20px;
    width: 16vw;
    height: 4vh;
    background-color: #6c7d66;
    margin: 1rem;
    border: 2px solid #293120;
    border-radius: 8px;
}

.date {
    font-weight: bold;
    font-size: 16px;
    width: 30vw;
    height: 4vh;
    text-align: center;
    margin: 1rem;
    background-color: #6c7d66;
    border: 2px solid #293120;
    border-radius: 8px;
}

.time {
    font-weight: bold;
    font-size: 16px;
    width: 30vw;
    height: 4vh;
    text-align: center;
    margin: 1rem;
    background-color: #6c7d66;
    border: 2px solid #293120;
    border-radius: 8px;
}

.hideBtn {
    display: none;
}

.bookBtn {
    display: block;
    font-weight: bold;
    font-size: 16px;
    width: 24vw;
    height: 6vh;
    background-color: #6c7d66;
    margin: 1rem;
    border: 2px solid #293120;
    border-radius: 8px;
}

.confirmBtn {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}