* {
    background-color: #293120;
    color: white;
}



.restaurantLogo {
    width: 40vw;
    height: 30vh;
}


.username {
    margin: 1rem;
    text-align: center;
    border: 2px solid #293120;
    border-radius: 4px;
    height: 4vh;
    background-color: #6c7d66;
    color: white;
}

::placeholder {
    color: white;
}

.password {
    margin: 1rem;
    text-align: center;
    border: 2px solid #293120;
    border-radius: 4px;
    height: 4vh;
    background-color: #6c7d66;
    color: white;
}


.login {
    margin: 1rem;
    text-align: center;
    border: 2px solid #293120;
    border-radius: 4px;
    height: 6vh;
    width: 20vw;
    background-color: #6c7d66;
    color: white;
}